<div class="col-md-12">
    <div style="margin-top:50px;" class="mainbox col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="card">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-block">
                <form [formGroup]="frmlogin" novalidate (ngSubmit)="Login(frmlogin.value, frmlogin.valid)">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Email">
                        <div class="help-block text-danger" *ngIf="!frmlogin.controls.email.valid && (frmlogin.controls.email.touched || submitted)">
                            <span [hidden]="!frmlogin.controls['email'].hasError('required')">Email is required</span>
                            <span [hidden]="!frmlogin.controls['email'].hasError('pattern')">Enter valid email id</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        <div class="help-block text-danger" *ngIf="!frmlogin.controls.password.valid && (frmlogin.controls.password.touched || submitted)">
                            <span [hidden]="!frmlogin.controls['password'].hasError('required')">Password is required</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
                New Member: <a [routerLink]="['/Register']">Register</a>
            </div>
        </div>
        <div *ngIf="(alert$ | async)?.count() > 0">
            <p *ngFor="let a of alert$ | async">
                <ngb-alert [type]="a.Type" (close)="closealert(a.Id)">{{ a.Message }}</ngb-alert>
            </p>
        </div>
    </div>
</div>