<button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
<a class="navbar-brand" href="#">Ng2-Blog</a>
<ul class="nav navbar-nav float-xs-right" [hidden]="!(auth$ | async).IsloggedIn">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" (click)="navbartoggleclick()" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Welcome {{(auth$ | async).UserName}}
            </a>
        <div [ngClass]="{'navtoggle': navbartoggle}" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
        </div>
    </li>
</ul>